.root {
    -fx-background-color: #303a52;
}

.buttonbar {
    -fx-background-color: #303a52;
}

.buttonbarbuttons {
    -fx-text-fill: aliceblue;
}

.splitpane {
    -fx-background-color: #303a52;
}

.labels {
    -fx-text-fill: aliceblue;
}

.highlightedelements {
    -fx-background-color: #212b43;
    -fx-text-fill: aliceblue;
    -fx-progress-color: #303a52;
}

.list-view .list-cell:selected{
    -fx-background-color: #574b90;
}

.list-view .list-cell{
    -fx-background-color: #303a52;
    -fx-text-fill: aliceblue;
}

.raised-buttons {
    -fx-text-fill: aliceblue;
    -jfx-button-type: RAISED;
    -fx-background-color: #212b43;
}

.jfx-toggle-button {
    -jfx-toggle-color: #574b90;
}

.jfx-text-field {
    -fx-highlight-fill: #543864;
}

.jfx-text-area {
    -fx-highlight-fill: #543864;
}